:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.jogo-da-memoria {
  padding: 1rem;
}
.jogo-da-memoria__conteudo {
  max-width: 600px;
  margin: 0 auto;
}

.placar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pontos {
  padding: 1rem 0;
}

.cartas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.carta {
  max-width: 100%;
  aspect-ratio: 3/4;
  perspective: 1000px;

  /* button */
  appearance: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.carta:focus,
.carta:focus-visible {
  outline: 0.25rem auto -webkit-focus-ring-color;
  outline-offset: 0.25rem;
  border-radius: 0.5rem;
}

.carta__conteudo {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.carta img {
  max-width: 100%;
}

.carta--virada .carta__conteudo {
  transform: rotateY(180deg);
}

.carta--encontrada {
  animation: animar-encontrada 0.5s 0.8s forwards;
}

.carta__frente, .carta__costas {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  border-radius: 0.5rem;
  overflow: hidden;
}

.carta__frente {
  background-color: #bbb;
  background-image: url("textura.png");
  background-size: 100%;
  background-position: center;
}

.carta__costas {
  transform: rotateY(180deg);
}

.resultado {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  transition-delay: 1s;
}

.resultado__box {
  padding: 1rem 2rem;
  text-align: center;
  background-color: #333;
  border-radius: 1rem;
}

.resultado--aberto {
  opacity: 1;
  visibility: visible;
}

@keyframes animar-encontrada {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.3) rotate(5deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 0.5;
  }
}
